<div class="container-fluid position-relative" id="image-backoffice">

  <ul class="nav mt-3">
    <div class="container d-flex">
      <h2><%= link_to 'DinnerDash', root_path, class: 'text-white d-block nounderline' %></h2>
      <li class="nav-item ml-auto">
      <% if current_user.admin? %>
        <span class="nav-link text-warning">backoffice</span>
      <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'Perfil', edit_user_registration_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: 'nav-link text-white' %>
      </li>
    </div>
  </ul>

  <div class="text-white title mb-5">
      <h1>Seu Perfil</h1>
      <h3>Atualize os seus dados pessoais e senha.</h3>
  </div>

</div>


<div class="container mt-4">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      </div>
    </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
  </div>


    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-success px-5' %>
    </div>
  <% end %>

</div>