
<%= form_with(model: categorium, local: true) do |form| %>
  <% if categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="form-group col">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control'  %>
      </div>
    <div class="form-group col">
          <%= form.label :created_at %><br />
          <%= form.date_field :created_at, autofocus: true, class: 'form-control', readonly: true %>
        </div>
</div>
  <div class="actions">
    <%= form.submit "Atualizar categoria de refeição",class: 'btn btn-success mr-3 px-4'  %>
    <%= link_to 'Voltar', categoria_path ,class: 'btn btn-secondary px-4' %>
  </div>
<% end %>


    </ul>
  </div>
</div>

