<% if flash[:notice] %>
<p id="notice" class="aler alert-success text-center text-dark m-0 p-2"><%= notice %></p>
<% end %>

<div class="container-fluid position-relative" id="image-backoffice">

  <ul class="nav mt-3">
    <div class="container d-flex">
      <h2><%= link_to 'DinnerDash', root_path, class: 'text-white d-block nounderline' %></h2>
      <li class="nav-item ml-auto">
      <span class="nav-link text-warning">backoffice</span>
      </li>
      <li class="nav-item">
        <%= link_to 'Perfil', edit_user_registration_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: 'nav-link text-white' %>
      </li>
    </div>
  </ul>

  <div class="text-white title mb-5">
      <h1>BackOffice</h1>
      <h3>Gerencie pedidos, refeições e mais.</h3>
  </div>

</div>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark mb-4">
  <div class="container d-flex">
    <li class="breadcrumb-item text-muted"><a href="#">Pedidos</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">Usuários</li>
    <li class="breadcrumb-item text-muted"><a href="#">Refeições</a></li>
    <li class="breadcrumb-item text-muted"><a href="#">Categorias de Refeições</a></li>
  </div>
  </ol>
</nav>

<div class="container text-muted">
  <h2>Editar Usuário</h2>
  <hr>
  <%= form_with(model: @user, local: true) do |f| %>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= f.label :admin %><br />
          <%= f.select :admin, options_for_select([["Administrador", true], ["Usuário", false]], :selected => f.object.admin), {}, {class: 'form-control'} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= f.label :created_at %><br />
          <%= f.date_field :created_at, autofocus: true, class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <%= f.submit "Update", class: 'btn btn-success mr-3 px-4' %>
      <%= link_to "Back", :back, class: 'btn btn-primary px-4' %>
    </div>
    
  <% end %>


</div>



<!-- 
<h1>Editing User</h1>
<%= render 'form', user: @user %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
-->