<%= render "shared/backOffice_header" %>
<%= render 'shared/backOffice_nav' %>

<div class="container pb-3 pt-4">

  <table class="ctable">

    <thead class="thead-light">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Cadastrado em</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
          <% if user.admin? %>
          <span class="badge badge-success mr-1">admin</span>
          <% end %>
          <%= user.name %>
          </td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%d/%m/%y") %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'text-warning' %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  
</div>

<%= render 'shared/footer' %>