<%= render 'header' %>
<%= current_cart %>
<% @categories.each do |category| %>
  <div class="container my-5">
    <h3 class="mb-3 text-muted"><%= category.name %></h3>
    <div class="card-deck">
      <% category.meals.each do |meal| %>
        <div class="card">
          <div class="position-relative">
            <%= image_tag "#{meal.image}", alt: '', class: 'card-img-top' %>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end p-0">
              <h5 class="bg-dark-50 mb-0 text-white p-2"><%= meal.name %></h5>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= meal.description %></h6>
            <p class="card-text text-success">R$ <%= number_with_precision(meal.price, :precision => 2) %> por porção</p>
            <div class="form-group">
              <%= form_for @cart_item, remote: true do |f| %>
                <div class="form-group">
                  <%= f.label :quantity, "Quantity", class: 'card-text text-muted' %>
                  <%= f.number_field :quantity, value: 1, min: 1, step: 1, class: 'form-control' %>
                </div>
                <%= f.hidden_field :meal_id, value: meal.id %>
                <%= f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success btn-block' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Finalizou o seu pedido?</h5>
      <h6 class="card-subtitle mb-3 text-muted">Confira os itens antes de finalizar a compra.</h6>
      <div class="shopping-cart">
        <%= render 'shopping_cart' %>
      </div>
      
    </div>
  </div>

  <br><hr><br>

  <h3>Preço total do pedido: <span class="text-success" id="cart-text"><%= number_to_currency cart_total_price %></span></h3>

</div>

<div class="container mb-4">
  <% if user_signed_in? %>
    
  <% else %>
    <h4 class="mb-3"><small class="text-muted">Para finalizar o seu pedido, entre com sua conta ou faça cadastro.</small></h4>
    <%= link_to "Sign In", new_user_session_path, :method => :get, class: 'btn btn-success px-5' %>
    <%= link_to "Sign up", new_user_registration_path, :method => :get, class: 'btn btn-outline-success px-5' %>
  <% end %>
</div>
<br>

<%= render 'shared/footer' %>
