<%= render "shared/backOffice_header" %>
<%= render 'shared/backOffice_nav' %>

<div class="container pb-3 pt-4">
 <table id="table" class="table table-hover">

    <thead class="thead-light">
    <tr>
      <th>Nome</th>
      <th>Número de refeições</th>
      <th>Cadastrado em</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_categories.each do |meal_category| %>
      <tr>
        <td><%= meal_category.name %></td>
        <td></td>
        <td><%= meal_category.created_at.strftime("%d/%m/%y")%></td>
        <td><%= link_to 'Editar', edit_meal_category_path(meal_category) %></td>
        <td><%= link_to 'Deletar', meal_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova categoria de refeição', new_meal_category_path , class: 'btn btn-success mr-3 px-4' %>

</div>

<%= render 'shared/footer' %>

