<div class="card-body text-muted">
  <div class="row">
    <div class="col">
      <%= image_tag "#{product.image}", class: 'img-fluid' %>
    </div>
    <div class="col">
      <h5 class="card-title text-dark"><%= product.name %></h5>
      <p>Quantity: <%= quantity %></p>
      <p>Unit Price: <%= number_to_currency product.price %></p>
      <p>Total Price: <%= number_to_currency (product.price * quantity.to_i) %></p>
      </div>
  </div>
</div>