<%= render "shared/backOffice_header" %>
<%= render 'shared/backOffice_nav' %>
<div class="container text-muted py-5">
<h5>Novo pedido</h5>
<hr>

<%= render 'form', order: @order %>

</div>
<%= link_to 'Back', orders_path %>
<%= render 'shared/footer' %>

