<section style="border-top: 2px solid #eaeaea">
  <div class="container">
    <h3 class="py-4">Pedidos anteriores</h3>

    <% if current_user.orders.empty? %>
      <p class="text-center alert alert-primary">Voce ainda não fez nenhum pedido.</p>
    <% else %>
      <table class="ctable">
        <thead>
          <tr>
            <th>Pedido nº</th>
            <th>Status</th>
            <th>Data</th>
            <th>Preço total</th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.orders.each_with_index do |order, index| %>
            <tr>
              <td><%= index %></td>
              <td>
              <% if order.situation.description == "pendente" %>
                  <span class="badge badge-primary mr-1 px-4 d-block"><%= order.situation.description %></span>
              <% end %>
              <% if order.situation.description == "entregue" %>
                  <span class="badge badge-success mr-1 px-4 d-block"><%= order.situation.description %></span>
              <% end %>
              <% if order.situation.description == "cancelado" %>
                  <span class="badge badge-danger mr-1 px-4 d-block"><%= order.situation.description %></span>
              <% end %>       
              </td>
              <td><%= order.created_at.strftime("%d/%m/%y") %></td>
              <td><%= number_to_currency(order.price, unit: "R$ ") %></td>
              <td><button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target='#myModal<%= "#{index}" %>'>Ver itens pedidos</button></td>
            </tr>
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id='myModal<%= "#{index}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Detalhes do pedido</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <% order.order_meals.in_groups_of(2, false) do |group| %>
                        <div class="row">
                          <% group.each do |order_meal| %>
                            <div class="col-md-6">
                              <%= render 'orders/show_row', product: order_meal.meal, quantity: order_meal.quantity %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> 
            <!-- Modal -->
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</section>

<%# console %>
