<section style="border-top: 2px solid #eaeaea">
  <div class="container">
    <h3 class="py-4">Pedidos anteriores</h3>

    <% if current_user.orders.empty? %>
      <p class="text-center alert alert-primary">Voce ainda não fez nenhum pedido.</p>
    <% else %>
      <table class="ctable">
        <thead>
          <tr>
            <th>Pedido nº</th>
            <th>Status</th>
            <th>Data</th>
            <th>Preço total</th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.orders.each_with_index do |order, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= order.situation.description %></td>
              <td><%= order.created_at.strftime("%d/%m/%y") %></td>
              <td><%= number_to_currency(order.price, unit: "R$ ") %></td>
              <td><button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#myModal">Ver itens pedidos</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <% if current_cart.empty? %>
          <p class="alert alert-primary text-center"> Carrinho vazio.</p>
        <% else %>
          <% current_cart.each do |item| %>
            <%= render 'home/cart_row', product: Meal.find(item["meal_id"]), quantity: item["quantity"], show_total: true, item: item %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 