<div class="container-fluid bg-primary">
  <div class="row min-h-100 d-flex flex-row-reverse">
    <div class="col-4 bg-white d-flex align-items-center">
      <div class="container p-5 text-black-50">

        <h2><%= link_to 'DinnerDash', root_path, class: 'text-dark mb-5 d-block nounderline' %></h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="action">
            <%= f.submit "Log in", class: 'btn btn-success btn-lg btn-block' %>
          </div>
        <% end %>

        <hr>
        <p class="text-left">Não possui conta ?</p>
        <%= render "devise/shared/links" %>
        
      </div>
    </div>
  </div>
</div>